.Background {
  background-color: #393e46;
  min-height: 100vh;
}

.FakeNavbar {
  height: 10vh;
}

.TextArea {
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
}

.SubTitleArea {
  clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);
  background: #d73548;
  width: 300px;
  height: 35px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavbarDiv {
  background-color: #222831;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.ButtonArea {
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ClickedButton {
  border-radius: 10px;
  background-color: #393e46;
  border: 2px solid #d73548;
  padding: 15px 15px;
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  color: #d73548;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.UnclickedButton {
  border-radius: 10px;
  background-color: #393e46;
  border: 2px solid #222831;
  padding: 15px 15px;
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
}

.ProjectArea {
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Project {
  width: 45%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid #222831;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 20px;
}

.ProjectImg {
  width: 40%;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.ProjectText {
  width: 60%;
  padding-left: 10px;
}

@media screen and (max-width: 950px) {
  .ProjectArea {
    flex-direction: column;
  }

  .Project {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .Project {
    flex-direction: column;
  }

  .ProjectImg, .ProjectText {
    width: 100%;
    margin-bottom: 10px;
  }
}