@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

a {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

a:hover {
  color: #d73548;
}

h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

h2 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.7rem;
  text-align: center;
}

.Hi {
  font-size: 8rem;
}

.SubTitle {
  font-size: 2.5rem;
}

.RedText {
  color: #d73548;
}

.MainText {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
  word-break: break-word;
  text-align: center;
  color: white;
}

.MainTextBold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  font-style: italic;
  word-break: break-word;
  text-align: center;
  color: white;
  padding: 20px 0px 100px 0px;
}

.MainTextProject {
  font-family: 'Josefin Sans', serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  word-break: break-word;
  font-style: normal;
}

.ProjectTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: white;
  font-size: 1.5rem;
}

.RedBackground {
  background-color: #d73548;
}